body {
	font: times, medium, black;
}

.odd {
	background-color: gray;
}

.even {
	font-size: small;
}

.header {
	text-align: center;
	font-size: 50px;
	margin-top: 0px;
	margin-bottom: -0.3em;
}

.my_picture {
	float: right;
	width: 23%;
	height: 23%;
	margin-left: 10px;
	margin-right: 10px;
	border-width: 2px;
	border-radius: 100%;
	border-style: solid;
	border-color: black;
	margin-top: 1em;
}

.top_paragraph_header {
	margin-bottom: -0.5em;
}

.top_paragraph {
	float: right;
	text-align: left;
	width: 25em;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
}

.table {
	width: 97%;
	margin: 2px auto;
}

.activities_title {
	text-align: center;
	margin-bottom: 0px;
	margin-top: -6.8em;
}

.favorite_things {
	font-size: small;
	color: blue;
	width: 100%;
}

.inspiration_title{
	text-align: center;
	font-size: small;
	margin-top: -0.2em;
}

.inspiration {
	width: 24%;
	height: 40%;
	float: right;
	border-width: 2px;
	border-style: solid;
	border-color: black;

}

.inspiration_info {
	font-size: small;
	margin-bottom: 0px;
}

.daily_activities {
	list-style-type: lower-alpha;
	font-size: small;
	width: 100%;
}


.inner_table {
	margin: 1px auto;
}

 .inner_table td{
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

 .inner_table th{
	border-style: solid;
	border-color: black;
	border-width: 1px;
}


.courses_table.odd {
	font-size: small;
	text-align: center;
}


.links {
	font-size: small;
	text-align: center;
	margin: 1px auto;
	font-family: sans-serif;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

.latin.odd {
	font-size: small;
	text-align: center;
	margin: 1px auto;
}

.best {
	font-style: italic;
}


